table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}
.button-container {
  display: flex;
}
.mat-icon {
  font-size: 20px;
}
.pagination-controls {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.selected {
  background-color: #e0e0e0; /* Change background color for selected items */
}
