mat-form-field {
  width: 100%;
}
.mat-mdc-table {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

table {
  width: 100%;
}

.example-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
.example-button-container {
  justify-content: center;
  width: 150px;
  margin: 5px;
}
.custom-icon-size {
  font-size: 40px; /* Adjust the size as needed */
  width: 40px; /* Optional: adjusts the width */
  height: 40px;
}
.bg-gray {
  background-color: #e0e0e0;
}

.bg-green {
  background-color: #a5d6a7;
}
