<div #screen>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="projectService.dashboardLoading$ | async"
  ></mat-progress-bar>
  @if (projectDetails!=null) {
  <mat-card style="margin: 5px">
    <mat-card-header>
      <mat-card-title
        >Project Name :
        {{
          projectDetails != null ? projectDetails.projectName : ""
        }}</mat-card-title
      >
      <mat-card-subtitle
        >Creator Project :
        {{
          projectDetails != null ? projectDetails.createdBy : ""
        }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Creation Date :
        {{
          projectDetails != null
            ? projectDetails.addedOn
            : ("" | date : "dd/MM/yyyy")
        }}</mat-card-subtitle
      >
    </mat-card-header>
    <button mat-button (click)="capture()">
      <mat-icon>camera_alt</mat-icon>
    </button>
    <mat-card-content>
      <mat-grid-list
        cols="{{ (cardLayout | async)?.columns }}"
        rowHeight="200px"
      >
        <mat-grid-tile
          *ngFor="let i of projectDetails.generalDetails"
          [colspan]="(cardLayout | async)?.miniCard.cols"
          [rowspan]="(cardLayout | async)?.miniCard.rows"
        >
          <app-card
            title="{{ i.category }}"
            bgColor="#E8F0F4"
            titleColor="#972ED1"
          >
            <app-number-counter
              [number]="i.count"
              [label]=""
              [duration]="'0.4'"
              [total]="i.total"
            >
            </app-number-counter>
          </app-card>
        </mat-grid-tile>

        <mat-grid-tile
          [colspan]="(cardLayout | async)?.table.cols"
          [rowspan]="(cardLayout | async)?.table.rows"
        >
        <app-card title="Telemarketer Productivity">

          <div class="table-container">

        <table>
          <thead >
            <tr>
              <th>Status</th>
              <th *ngFor="let telemarketer of telemarketers">{{ telemarketer }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData">
              <td>{{ item.status }}</td>
              <td *ngFor="let telemarketer of telemarketers">
                {{ getGSMValue(item.telemarketerGSMs, telemarketer) }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td style="text-align: center;">Total</td>
              <td *ngFor="let telemarketer of telemarketers">
                {{ getTotalGSMs(telemarketer) }}
              </td>
            </tr>
          </tfoot>
        </table>
        </div>
      </app-card>
        </mat-grid-tile>

        <!--Table-->
        <mat-grid-tile
          [colspan]="(cardLayout | async)?.table.cols"
          [rowspan]="(cardLayout | async)?.table.rows"
        >
          <app-card title="Quota Progress">
            <app-line
              [xLineData]="xLineLine"
              [yLineData]="yLineLine"
              [chartId]="2"
            ></app-line>
          </app-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions> </mat-card-actions>
  </mat-card>
  } @else if(projectDetails!=null &&
  projectDetails.gsmStatusStatistics.length==0) {

  <div style="text-align: center">
    <h3 style="color: red">No data found</h3>
  </div>
  }


  <div style="text-align: center; position: fixed; bottom: 3px; width: 100%">
    <button
      style="height: 40px"
      mat-raised-button
      color="primary"
      (click)="openBottomSheet()"
    >
      Dashboard Filter
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
</div>
