
<mat-card style="margin: 5px;">
  <mat-card-title style="margin: 10px;">Advance Filter
    <button (click)="resetFilter()" mat-mini-fab  color="warn" >
      <mat-icon  >power_settings_new</mat-icon>

    </button>

  </mat-card-title>

  <mat-card-content>
<mat-nav-list>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" >
    <mat-label>Select Projects</mat-label>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-chip-grid  #chipList>
        <mat-chip-row
          *ngFor="let item of selectedItems"
          [removable]="true"
          (removed)="remove(item)"
        >
          {{ item }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <input
          placeholder="New item..."
          formControlName="projectIds"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
      <mat-option *ngFor="let item of (filteredItems | async)" [value]="item.id">
        {{ item.name }}
      </mat-option>
      </mat-autocomplete>
    </mat-form-field>












    <mat-label>Telemarketers</mat-label>

    <mat-form-field>

      <mat-select formControlName="telemarketrerIds" multiple>
        @for (f of employeeData; track f) {
          <mat-option [value]="f.id">{{f.userName}}</mat-option>
        }
      </mat-select>
    </mat-form-field><br>

    <mat-label>Mistake Type</mat-label>

    <mat-form-field>

      <mat-select formControlName="mistakeTypeIds" multiple>
        @for (f of typeData; track f) {
          <mat-option [value]="f.name">{{f.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field><br>

    <div style="text-align: center;">
      <button   type="submit" mat-raised-button color="primary"
      [disabled]="!filterForm.valid">Filter</button>
    </div>

  </form>
</mat-nav-list>
  </mat-card-content>
</mat-card>
